
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

*, *:after, *:before {
    box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	/* Added it by yourself*/
	text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.2;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* general styles */
body {	
	background: #ffffff;
	font: 12px 'Montserrat', sans-serif;
}
.wrapper {
	
}
.header {
	padding: 80px 0;
	text-align: center;
}
.hamburger-menu{
	display: none;
}
button.menu-toggle  {
	display: none;
}
.menu__box {
	display: none;
}
.burgerF {
	display: none;
}
.burger_btn-send .burger_btn-send {
	display: none;
}

.logo {
	width: 100px;
	height: 60px;
	display: block;
	margin: 0 auto 80px;
}
svg {
	margin-bottom: 80px;
}
.logo svg {
	width: 100%;
}
 
.nav .nav-list li {
	display: inline-block;
	font-size: 20px;
	line-height: 24px;
	margin: 0 40px;
}
.nav .nav-list li a {
	color: #000;	
}

ul {
	display:flex;
	justify-content: center;
	margin-bottom: 80px;
}
.nav .nav-list li a:hover {
	color: #000;
}

.slider {
	text-align: center;
}
.slick-prev {
	display: none !important;
}
.slick-next {
	display: none !important;
}
.slick-dots {
	display: flex;
	justify-content: center;
	margin: 40px auto;
}
.slick-dits li {
	margin: 0.5px;
}
.slick-dots li button {
	width: 20px;
	height: 20px;
	border: 1px solid #000;
	background:  #fff;
	border-radius:  50%;
	font-size: 0;
}
.slick-dots li.slick-active button {
	background: #000;
}

.slick-slide {
	margin: 0 60px 0 60px;
}

.slider .slick-initialized .slick-slider .slick-dotted {
	margin-bottom: 40px;
}

p {
	font-size: 28px;
	text-align: center;
	width: 1024px;
	margin: 0 auto 79px auto;
}

.history {
	border: solid #000;
    border-width: 1px 0;
	width: 1024px;
	margin: 0 auto 60px auto;
	padding: 16px;
}

span {
 	display: block;
	font-size: 40px;
	text-align: center;
}
.block {
	display: flex;
	justify-content: space-between;
	width: 1024px;
	margin: 0 auto;
}
.inblock1 {
 	background: #000000;
	color: #ffffff;
	font-size: 18px;
	font-family: Montserrat, sans-serif;
	width: 500px;
	height: 350px;
	padding: 94px 50px;
	margin-bottom: 59px;
}
.inblock2 {
 	background: #000000;
	color: #ffffff;
	font-size: 18px;
	font-family: Montserrat, sans-serif;
	width: 500px;
	height: 350px;
	padding: 50px;
	margin-bottom: 59px;

}
h1 {
 	font-size: 48px;
	display: inline;
	
}

/* CONTACT FORM */
.contact-form {
	border: solid #000;
    border-width: 1px 0;
	width: 1024px;
	margin: 0 auto 60px auto;
	padding: 16px;
}
.contact {
	border: 1px solid #000;
	padding: 30px;
	margin: 47px 53px;
}
.contact form {
	display: flex;
}
.contact .textarea {
	flex-grow: 1;
	border: 0;
	padding: 16px 0;
	height: 60px;
	font-size: 18px;
}
.contact .btn-send {
	height: 60px;
	text-transform: uppercase;
	flex: 0 0 200px;
	background: #000;
	color: #fff;
	margin: 0 0 0 30px;
	cursor: pointer;
	border-radius: 8px;
	font-size: 28px;
}


/* tablet */
@media only screen 
  and (min-width: 1024px) 
  and (max-width: 1200px) {
	.header {
		width: 100%;
	  	top: 0;
	  	left: 0;
	  	padding: 48px 48px;
	  	z-index: 100;
	}
	.hamburger-menu {
		display: block;
	}
	#menu__toggle {
  		opacity: 0;
	}

	#menu__toggle:checked ~ .menu__btn > span {
	  transform: rotate(45deg);
	}
	#menu__toggle:checked ~ .menu__btn > span::before {
	  top: 0;
	  transform: rotate(0);
	}
	#menu__toggle:checked ~ .menu__btn > span::after {
	  top: 0;
	  transform: rotate(90deg);
	}
	#menu__toggle:checked ~ .menu__box {
	  visibility: visible;
	  left: 0;
	  z-index: 20;
	}

	.menu__btn {
	  display: flex;
	  align-items: center;
	  position: absolute;
	  top: 56px;
	  left: 48px;
	  width: 48px;
	  height: 31px;
	  cursor: pointer;
	  z-index: 30;
	}

	.menu__btn > span,
	.menu__btn > span::before,
	.menu__btn > span::after {
	  display: block;
	  position: absolute;
	  width: 100%;
	  height: 2px;
	  background-color: #616161;
	  transition-duration: .25s;
	}
	.menu__btn > span::before {
	  content: '';
	  top: -8px;
	}
	.menu__btn > span::after {
	  content: '';
	  color: #fff;
	  top: 8px;
	}

	.menu__box {
	  display: block;
	  position: fixed;
	  visibility: hidden;
	  top: 0;
	  left: -100%;
	  width: 100%;
	  margin: 0;
	  padding: 80px 0;
	  list-style: none;
	  background-color: #000;
	  transition-duration: .10s;

	}

	.menu__box .contact{
	  	background-color: #000;
	  	border-color: #fff;
	  	margin-bottom: 156px;
	}

	.menu__box .contact form {
		display: flex;
	}
	.menu__box .contact .textarea {
		flex-grow: 1;
		background: #000;
		border: 0;
		padding: 16px 0;
		height: 60px;
		font-size: 18px;
	}
	.menu__box .contact .btn-send {
		height: 60px;
		text-transform: uppercase;
		flex: 0 0 200px;
		background: #fff;
		color: #000;
		margin: 0 0 0 30px;
		cursor: pointer;
		border-radius: 8px;
		font-size: 28px;
	}

	.logo {
		color: #fff;
		width: 100px;
		height: 60px;
		display: block;
		margin: 0 auto 96px;
		z-index: 100;
	}
	svg {
		margin-bottom: 80px;
	}
	.menu__box .logo * {
		fill: #fff;

	}

	.nav .nav-list li {
		display: inline-block;
		font-size: 20px;
		line-height: 24px;
 	}
	.nav .nav-list li a {
		color: #fff;	
	}
	ul {
		display:flex;
		justify-content: center;
 	}
	.nav .nav-list li a:hover {
		color: #fff;
	}
	.contact {
	border: 1px solid #fff;
	padding: 30px;
	margin: 80px 53px 150px ;
}


	.slider {
		text-align: center;
		margin: 0 40px;
	}
	.slick-prev {
		display: none !important;
	}
	.slick-next {
		display: none !important;
	}
	.slick-dots {
		display: flex;
		justify-content: center;
		margin: 39px auto;
	}
	.slick-dots li {
		margin: 0.5px;
	}
	.slick-dots li button {
		width: 20px;
		height: 20px;
		border: 1px solid #000;
		background:  #fff;
		border-radius:  50%;
		font-size: 0;
	}
	.slick-dots li.slick-active button {
		background: #000;
	}

	.slick-slide {
		margin: 0 60px 0 60px;
	}

	p {
		width: 950px;
	  	height: 216px;
	  	font-family: Montserrat;
	  	font-size: 22px;
	  	margin: 49px 100px;
	}

	.history {
		width: 1024px;
		margin: 0 auto 60px auto;
	}

	span {
	 	display: block;
		font-size: 40px;
		text-align: center;
	}
	.block {
		display: block;
		position: static;
		width: 1024px;
		margin: 0 auto;
	}
	.inblock1,
	.inblock2 {
	 	background: #000000;
		color: #ffffff;
		font-size: 18px;
		font-family: Montserrat, sans-serif;
		width: 928px;
		height: 214px;
		padding: 48px;
		margin: 32px 48px;
	}
	h1 {
	 	font-size: 48px;
		display: inline;
		
	}
	.contact-form {
 		width: 1024px;
    	margin: 0 auto 60px auto;
	}
.contact {
	border: 1px solid #000;
	padding: 30px;
	margin: 47px 53px;
}
.contact form {
	display: flex;
}
.contact .textarea {
	flex-grow: 1;
	border: 0;
	padding: 16px 0;
	height: 60px;
	font-size: 18px;
}
.contact .btn-send {
	height: 60px;
	text-transform: uppercase;
	flex: 0 0 200px;
	background: #000;
	color: #fff;
	margin: 0 0 0 30px;
	cursor: pointer;
	border-radius: 8px;
	font-size: 28px;

}


/*mobile*/
@media only screen 
  and (min-width: 320px) 
  and (max-width: 1023px) {
  		.logo {
			display: none;
		}
		.nav {
			display: none;
		}
		.hamburger-menu {
			display: block;
			position: absolute;
			left: 10px;
		}
		#menu__toggle {
	  		opacity: 0;
		}

		#menu__toggle:checked ~ .menu__btn > span {
		  transform: rotate(45deg);
		}
		#menu__toggle:checked ~ .menu__btn > span::before {
		  top: 0;
		  transform: rotate(0);
		}
		#menu__toggle:checked ~ .menu__btn > span::after {
		  top: 0;
		  transform: rotate(90deg);
		}
		#menu__toggle:checked ~ .menu__box {
		  visibility: visible;
		  left: 10px;
		  z-index: 20;
		}

		.menu__btn {
		  display: flex;
		  align-items: center;
		  position: absolute;
		  top: 16px;
		  left: 18px;
		  width: 48px;
		  height: 31px;
		  cursor: pointer;
		  z-index: 30;
		}

		.menu__btn > span,
		.menu__btn > span::before,
		.menu__btn > span::after {
		  display: block;
		  position: absolute;
		  width: 100%;
		  height: 2px;
		  background-color: #616161;
		  transition-duration: .25s;
		}
		.menu__btn > span::before {
		  content: '';
		  top: -8px;
		}
		.menu__btn > span::after {
		  content: '';
		  color: #fff;
		  top: 8px;
		}

		.menu__box {
		  display: block;
		  position: fixed;
		  visibility: hidden;
		  top: 0;
		  left: -100%;
		  width: 100%;
		  margin: 0;
		  padding: 80px 0;
		  list-style: none;
		  background-color: #000;
		  transition-duration: .10s;

		}
		.menu__box .contact-form{
		  	background-color: #000;
		  	border-color: #fff;
		  	margin-bottom: 156px;
		}

		.slider {
		text-align: center;
		margin: 0 40px;
		}
		.slick-prev {
			display: none !important;
		}
		.slick-next {
			display: none !important;
		}
		.slick-dots {
			display: flex;
			justify-content: center;
			margin: 39px auto;
		}
		.slick-dots li {
			margin: 0.5px;
		}
		.slick-dots li button {
			width: 20px;
			height: 20px;
			border: 1px solid #000;
			background:  #fff;
			border-radius:  50%;
			font-size: 0;
		}
		.slick-dots li.slick-active button {
			background: #000;
		}

		.slick-slide {
			margin: 0 60px 0 60px;
		}

		p {
			width: 950px;
		  	height: 216px;
		  	font-family: Montserrat;
		  	font-size: 22px;
		  	margin: 49px 100px;
		}

		.history {
			width: 1024px;
			margin: 0 auto 60px auto;
		}

		span {
		 	display: block;
			font-size: 40px;
			text-align: center;
		}
		.block {
			display: block;
			position: static;
			width: 1024px;
			margin: 0 auto;
		}
		.inblock1,
		.inblock2 {
		 	background: #000000;
			color: #ffffff;
			font-size: 18px;
			font-family: Montserrat, sans-serif;
			width: 928px;
			height: 214px;
			padding: 48px;
			margin: 32px 48px;
		}
		h1 {
		 	font-size: 48px;
			display: inline;
			
		}
		.contact-form {
	 		width: 1024px;
	    	margin: 0 auto 60px auto;
		}
		
	}


